.alert-lbr {
  margin-bottom: 0;
  position: relative;
  z-index: 9999;
  border-radius: 0;
}

.winner {
  color: #0088cc;
  font-weight: 700;
  // background-color: #bdc3c7;
  // border: 1px #bdc3c7 solid;
}
