<section role="main" class="content-body">
  <header class="page-header">
    <h2>Account Summary</h2>
    <div class="right-wrapper pull-right">
      <ol class="breadcrumbs">
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-home"></i>
          <% end %>
        </li>
        <li>
          <span>Dashboard</span>
        </li>
      </ol>
      <a class="sidebar-right-toggle" data-open="sidebar-right">
        <i class="fa fa-chevron-left"></i>
      </a>
    </div>
  </header>
  <div class="row">
    <div class="col-md-12">
      <section class="panel">
        <header class="panel-heading">
          <h2 class="panel-title">Dashboard</h2>
        </header>
        <div class="panel-body">
          <!-- Main Content Start -->
          <% if user_signed_in? %>
            <h1>Dashboards#index</h1>
            <p>Find me in app/views/dashboards/index.html.erb</p>
            <p>
              <%= link_to destroy_user_session_path, method: "delete" do %>
                <i class="fa fa-sign-out"></i> Logout
              <% end %>
            </p>
          <% end %>
          <!-- Main Content End -->
        </div>
      </section>
    </div>
  </div>
</section>
