<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

  <div class="sidebar-header">
    <div class="sidebar-title">
      Menu Navigation
    </div>
    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">
        <ul class="nav nav-main">
          <li>
            <%= link_to dashboard_path do %>
              <i class="fa fa-home"></i> <span>Member Home</span>
            <% end %>
          </li>
          <li class="nav-parent">
            <a><i class="fa fa-group"></i> <span>My Team</span></a>
            <ul class="nav nav-children">
              <li>
                <%= link_to new_team_path do %>
                  <i class="fa fa-group"></i> <span>Create Team</span>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  </div>

</aside>
<!-- end: sidebar -->
